header {
	width: 100%;
}

.header-centerbox {
	height: 78px;
}

.logo {
	display: inline-block;
	width: 153px;
	height: 37px;
	margin-top: 20px;
	background: url(../images/logo.png);
}

.header-menu {
	float: right;
	display: block;
	margin-top: 30px;
	height：78px;
}

.header-menu>a {
	font-size: 13px;
	color: #777;
	float: left;
	margin-left: 30px;
}

.header-menu>a:hover {
	color: #009af3;
}

.navigation {
	width: 100%;
	background-color: #2c323b;
}

.nav-centerbox {
	height: 55px;
}

.main-nav {
	float: left;
}

.main-nav {
	float: left;
}

.main-nav>li {
	float: left;
	height: 55px;
}

.main-nav>li>a {
	display: inline-block;
	height: 55px;
	line-height: 55px;
	font-size: 16px;
	color: #ddd;
	padding: 0 30px;
}

.main-nav>li:hover, .main-nav>li:hover>a, .on {
	color: #fff !important;
	background-color: #0c8ed9;
}

.nav-more-ul {
	width:100%;
	display: block;
}

.nav-more-ul>li>a {
	display: block;
	width: 100px;
	height: 100px;
	color: #000;
}