header {
	width: 100%;
}

.header-centerbox {
	height: 78px;
}

.logo {
	display: inline-block;
	width: 153px;
	height: 37px;
	margin-top: 20px;
	background: url(../images/logo.png);
}

.header-menu {
	float: right;
	display: block;
	margin-top: 30px;
	height：78px;
}

.header-menu>a {
	font-size: 13px;
	color: #777;
	float: left;
	margin-left: 30px;
}

.header-menu>a:hover {
	color: #009af3;
}

.navigation {
	width: 100%;
	background-color: #2c323b;
}

.nav-centerbox {
	height: 55px;
}

.main-nav {
	float: left;
}

.main-nav {
	float: left;
}

.main-nav>li {
	float: left;
	height: 55px;
	position: relative;
}

.main-nav>li>a {
	display: inline-block;
	height: 55px;
	line-height: 55px;
	font-size: 16px;
	color: #ddd;
	padding: 0 30px;
}

.main-nav>li:hover, .main-nav>li:hover>a, .on {
	color: #fff !important;
	background-color: #0c8ed9;
}

.main-nav>li:hover .nav-more-list {
	display: block;
}

.nav-more-a {
	padding-right: 50px !important;
}

.nav-more-arrow {
	position: absolute;
	right: 30px;
	top: 0;
	display: block;
	width: 20px;
	height: 55px;
	background: url(../images/arrowMored.png) center center no-repeat;
}
.main-nav>li:hover .nav-more-arrow {
	background: url(../images/arrowMoreu.png) center center no-repeat;
}


.nav-more-list {
	width:100%;
	display: none;
}

.nav-more-list>li {
	height: 36px;
	text-align: center;
	background-color: #252b34;
}

.nav-more-list>li:hover {
	height: 35px;
	border-top: 1px solid #383d44;
	background-color: #2d343d;
}

.nav-more-list>li:hover>a {
	color: #fff;
	line-height: 34px;
}

.nav-more-list>li>a {
	display: block;
	line-height: 36px;
	color: #bbb;
	font-size: 15px;
}